@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

#menu-box {
    margin-top: 5px;
}

#header-item {
    background: $blue-300;
}

.display-profile {
    position: relative;
    display: block;
}

.display-username {
    position: relative;
    display: block;
    text-decoration: underline $danger;
}